body {
    background-color: #212529
}
.txt{
    font-family: Helvetica;
}

.h1 {
    color: #adb5bd;
}

.p {
    color: #f1faee;
    font-size: 30px;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    background: #c4c4c4;
    outline: none;
    opacity: 0.7;
    margin-left: 10%;
    border-radius: 4px;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 4px; 
    background: #444444;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 10px; 
    cursor: pointer;
    
  } 

.btn {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    color: #e9ecef;
    background-color: #495057;
    font-size: 20px;

}

.container {
  height: 100px;
  position: relative;
  background-color: #343a40;
  margin: 1%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
    width: 100%; /* takes the 100 % width of its container (.box div)*/
    height: 100%; /* takes the 100 % height of its container (.box div)*/
  }