{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div>
  <h1 class="h1 txt">Smart Rodel Dashboard</h1>
</div>

<div>
  <!-- Slider -->
  <label for="slider" id="description" class="p txt">Seconds to record:</label>
    <input type="range" id="range-slider" name="tval" min="0" max="120" value="60">
  <input type="text" id="text-field-time" name="range-slider" value="60">
</div>

<div>
  <!-- Buttons -->
  <button type="button" class="btn btn-start" id="start-button" value="start" onclick=action(value)>Start</button>
  <button type="button" class="btn btn-stop" id="stop-button" value="stop" onclick=action(value)>Stop</button>
</div>

<img src="{{ url_for('static', filename='images/plot.png') }}" alt="Plot" align="middle" />

{% endblock %}


